/* Paleta de Cores */
:root {
    --vermelho-principal: #e74c3c;
    --amarelo-secundario: #f1c40f;
    --cinza-claro: #f0f2f5;
    --cinza-escuro: #333;
    --branco: #fff;
}

body {
    font-family: sans-serif;
    background-color: var(--cinza-claro);
    color: var(--cinza-escuro);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header {
    /* ... outros estilos */
    background-image: url('images/banner-lanches.jpg');
    background-size: cover;
    background-position: center;
}

h1 {
    color: var(--vermelho-principal);
}

main {
    background-color: var(--branco);
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
}

section {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: var(--vermelho-principal);
    color: var(--branco);
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c0392b; /* Um tom mais escuro de vermelho */
}

/* Estilo para botões de ação secundária, como os de "Adicionar" e "Voltar" */
#menu-list li button, #add-balance-btn, #back-to-main, #back-to-main-from-login {
    background-color: var(--amarelo-secundario);
    color: var(--cinza-escuro);
}

#menu-list li button:hover, #add-balance-btn:hover, #back-to-main:hover, #back-to-main-from-login:hover {
    background-color: #f39c12; /* Um tom mais escuro de amarelo */
}

#logout-btn {
    background-color: #95a5a6; /* Cor neutra para o botão de logout */
}

#logout-btn:hover {
    background-color: #7f8c8d;
}

#menu-list li {
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-list li button {
    width: auto;
    padding: 5px 10px;
}

#cart-list li {
    list-style: none;
    padding: 5px 0;
}